#logo{
height: 120px;
width: 120px;
}

.header{
    display: flex;
    justify-content: start;
    align-items: center;
}
.header h1{
    margin-left:20px ;
    font-size: 30px;
    color: lightgreen;
    font-weight: 800;
}
.headerInfo{
    margin-left: 100px;
    margin-top: -30px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 300;

}